<section class="block container">
    <header class="block__header">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, voluptatem!</p>
    </header>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
        <span class="icon-container">
            <svg class="icon icon--primary">
                <use xlink:href="images/icons/sprite.svg#easy"></use>
            </svg>
        </span>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur assumenda corporis dolorem,
                excepturi illum ipsum odio ratione suscipit voluptates?</p>
            <a href="#" class="arrow-link">Learn More</a>
        </div>
        <img src="images/easy.jpg" class="feature__image" alt="">
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
        <span class="icon-container">
            <svg class="icon icon--primary">
                <use xlink:href="images/icons/sprite.svg#easy"></use>
            </svg>
        </span>
            <h3 class="feature__heading">Simply fast website</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur assumenda corporis dolorem,
                excepturi illum ipsum odio ratione suscipit voluptates?</p>
            <a href="#" class="arrow-link">Learn More</a>
        </div>
        <img src="images/fast.jpg" class="feature__image" alt="">
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
        <span class="icon-container">
            <svg class="icon icon--primary">
                <use xlink:href="images/icons/sprite.svg#wordpress"></use>
            </svg>
        </span>
            <h3 class="feature__heading">WordPress made easy</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur assumenda corporis dolorem,
                excepturi illum ipsum odio ratione suscipit voluptates?</p>
            <a href="#" class="arrow-link">Learn More</a>
        </div>
        <img src="images/fast.jpg" class="feature__image" alt="">
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
        <span class="icon-container">
            <svg class="icon icon--primary">
                <use xlink:href="images/icons/sprite.svg#clock"></use>
            </svg>
        </span>
            <h3 class="feature__heading">24/7 Expert Support</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur assumenda corporis dolorem,
                excepturi illum ipsum odio ratione suscipit voluptates?</p>
            <a href="#" class="arrow-link">Learn More</a>
        </div>
        <img src="images/fast.jpg" class="feature__image" alt="">
    </article>
</section>