<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2>User-friendly Control Panel </h2>
    </header>
    <div class="container grid grid--1x2">
        <img src="images/ipad.png" alt="" class="block-showcase__image">
        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/icons/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">
                            Easy start & Manage Updates
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque illo laborum perspiciatis
                            repellendus
                            tempore ullam vel! Consequuntur dolorem placeat reiciendis.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/icons/sprite.svg#growth"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">
                            staging, GIT & WP-CLI
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque illo laborum perspiciatis
                            repellendus
                            tempore ullam vel! Consequuntur dolorem placeat reiciendis.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                            <use xlink:href="images/icons/sprite.svg#wordpress"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">
                            Dynamic Caching & More
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque illo laborum perspiciatis
                            repellendus
                            tempore ullam vel! Consequuntur dolorem placeat reiciendis.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>